body {
    font-family: Arial;
    padding: 20px;
}

form input {
    margin: 5px;
    padding: 5px;
}

button {
    margin: 5px;
    padding: 5px 10px;
}

table {
    margin-top: 20px;
    width: 100%;
}